<script src="https://api.alancaptcha.com/widget/1.0.0/widget.bundle.js"></script>
<div
    class="alan-captcha"
    data-sitekey="{siteKey}"
    data-monitortag="{monitorTag}"
    data-unverifiedtext="{lang.unverifiedtext}"
    data-verifiedtext="{lang.verifiedtext}"
    data-retrytext="{lang.retrytext}"
    data-workingtext="{lang.workingtext}"
    data-starttext="{lang.starttext}"
    data-lang="{alanform:alanLanguage()}"
></div>
<f:form.hidden property="{identifier}" id="{uniqueIdentifier}" value="" />
